.App {
  text-align: center;
}
body{
  background-color: #1a2946;
  color: white;

}
.eachItems{
  width: 25%;
  height:46px;
  background-color: white;
  margin: auto;
  border: 2px solid red;
  justify-content: space-between;
  margin-bottom: 30px;
}
.addItems{
 
  width: 25%;
  height:46px;
  background-color: white;
  margin: auto;
  border: 2px solid red;
}

.btn{
  width:80px;
  height:30px;
  background-color: rgb(213, 229, 229);
  border: 2px solid red;
  border-radius:5px;
  color:black;
}
.input{
  height:44px;
  width: 95%;
  border: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.h3{
  color:white;
}

.showDetails{
  display: flex;
  border: 2px solid red;
  margin: auto;
  justify-content: space-between;
  width: 25%;
  height:30px;
  padding-bottom: 20px;
  background-color: white;
 }
 .eachItems>.h3{
  color:black;
  margin-bottom: 40px;
  font-size:16px;
  padding-left: 10px;
}

.far{
  margin-top: 15px;
  margin-right: 10px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
